[submodule "backend-clients"]
	path = backend-clients
	url = https://github.com/era-ants/backend-clients.git
[submodule "backend-organizations"]
	path = backend-organizations
	url = https://github.com/era-ants/backend-organizations.git
[submodule "bonus-service"]
	path = bonus-service
	url = https://github.com/era-ants/bonus-service
[submodule "payment-service"]
	path = payment-service
	url = https://github.com/era-ants/payment-service
